* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 14vw;
    height: 12vh;
    border: 0;
    background-color: rgb(71, 134, 237);
    border-radius: 7px;
    margin-top: 20px;
}

.score {
    text-align: left;
    font-size: 50px;
    text-decoration: underline;
    display: inline-block;
    margin-left: 30px;
}

.scoreCounter {
    display: inline-block;
    margin-top: 16px;
    font-size: 50px;
}

.buttonChoice {
    color: white;
    font-size: 2rem;
}

.choice {
    display: inline-block;
    font-size: 4rem;
}

.container {
    height: 18%;
}

#container1 {
    display: flex;
    justify-content: space-between;
}

#choiceContainer {
    height: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

#choice1 {
    margin-right: 7.5rem;
}

#choice2 {
    margin-left: 7.5rem;
}

#pScoreCounter {
    text-align: left;
    margin-left: 80px;
}

#cScoreCounter {
    float: right;
    margin-right: 105px;
}

#computerScore {
    float: right;
    margin-inline: 0 30px;
}

#roundResults {
    display: inline-block;
    font-size: 40px;
    margin-top: 20px;
}

#section1 {
    height: 50vh;
}

#section2 {
    height: 50vh;
}

#btnDiv {
    width: 80vw;
    margin-inline: auto;
}